.idea
class materials
notes
readings
scripts/.idea
scripts/.ipynb_checkpoints
scripts/logs.txt
data/cookies_fb.txt
data/comments_fb_1.csv
data/comments_fb_2.csv
data/comments_fb_3.csv
data/comments_fb_4.csv
data/comments_fb_5.csv
data/comments_fb_6.csv
data/comments_reddit_1.csv
data/comments_reddit_2.csv
data/comments_reddit_3.csv
data/comments_reddit_4.csv
data/comments_reddit_5.csv
data/comments_reddit_6.csv
data/comments_reddit_7.csv
data/comments_reddit_8.csv
data/comments_reddit_9.csv
data/posts_reddit_covid_all.csv
data/posts_reddit_measures_all.csv
data/posts_reddit_phase_all.csv
data/posts_reddit_restrictions_all.csv
data/posts_reddit_suspended_all.csv
data/wordcloud_all.png
data/wordcloud_all_remove_sw.png